@use "sass:math";

.header__container {
  background-color: var(--primary-color);
  position: relative;
  .header__background {
    position: absolute;
    width: max-content;
    margin-inline: auto;
    opacity: 0.3;
    user-select: none;
    pointer-events: none;
    fill: none;
    stroke: var(--accent-color);
    top: 0;
    transform: scale(1.2) rotate(45deg);
    display: none;
    
  }
}

.header {
  padding-block: 0;
  position: relative;

  & > div {
    min-height: max(100vh, 40rem);

    width: 100%;
    z-index: 66;
    position: relative;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5rem;
  }

  &__video__bg {
    top: 10rem;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 25%;
    right: 25vw;

    video {
      object-fit: cover;
    }
  }

  &__intro__container {
    text-align: center;
    flex: 1;
    position: relative;
    mix-blend-mode: color-dodge;
    mix-blend-mode: overlay;

    .header__intro {
      font-weight: normal;
      transform: scale(0.5);
      opacity: 0;
    }
    .header__intro__subtext {
      // color: var(--accent-color);
      font-size: clamp(4rem, 2vw + 1rem, 6rem);
      font-weight: bolder !important;
      transform: scale(0.5);
      opacity: 0;
    }

    .foreground {
      position: absolute;
      z-index: 2;
      clip-path: circle(0rem at 0% 0%);
    }
  }

  // &__intro,
  // &__intro__subtext {
  // transform: translateX(2rem);
  // clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  // }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
