@use 'sass:math';

.header__container {
  background-color: var(--primary-color);
}

.header {
  background-color: inherit;
  height: 100vh;
  padding-block: 0;
  position: relative;

  .header__intro__subtext {
    // color: var(--accent-color);

    position: absolute;
    overflow: hidden;
    p {
      display: inline-block;
      white-space: nowrap;
      font-size: clamp(10rem, 20vh + 1rem, 24rem);
      transition: 0.5s;
      transform: translateX(100%);
      animation: marquee 10s 0s ease-in-out infinite;
      // text-overflow: clip;
    }

    // padding-right: 10%;
    // left: 0;
    // left: -100%;
    // transform: translateX(0%);

    // font-size: 10rem;

    top: 1%;

    z-index: -1;

    // font-weight: 500;
  }

  & > div {
    width: 100%;
    z-index: 66;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // overflow: hidden;
    height: 100%;
  }

  &__video__bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 25%;
    right: 25vw;

    video {
      object-fit: cover;
    }
  }

  .header__background {
    height: 100%;

    opacity: 0.4;
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    fill: none;
    stroke: var(--accent-color);
    top: 0;
    transform: scale(1.2) rotate(45deg);
  }

  &__intro__container {
    text-align: center;
    position: relative;
    mix-blend-mode: color-dodge;
    mix-blend-mode: overlay;

    .header__intro {
      font-weight: normal;
      font-weight: bold;
      // font-size: 8rem;
    }

    .foreground {
      img {
        transform: scale(2);
        // height: 10rem;
        object-fit: cover;
      }
      position: absolute;
      background-color: aqua;
      top: -20rem;
      z-index: 2;
      clip-path: circle(0rem at 0% 0%);
    }
  }

  &__intro,
  &__intro__subtext {
    transform: translateX(2rem);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
