// .preloader {
//   position: fixed;
//   top: 0;
//   z-index: 1000;
//   height: 100vh;
//   width: 100vw;
//   background-color: var(--primary-color);
//   transform: scaleX(1);
//   transform-origin: left;
//   overflow: hidden;

//   &__rows {
//     min-height: calc(100vh / 3);
//     background-color: var(--secondary-color);
//     color: var(--primary-color);
//     transform: scaleX(1);
//     transform-origin: left;
//   }

//   .row2 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     opacity: 1;
//     .preloader__rows__logo {
//       display: flex;
//       h1 {
//         opacity: 1;
//         font-size: 5rem;
//         clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
//       }
//     }
//   }
// }

.preloader {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  // background-color: transparent;
  background-color: var(--primary-color);
  // transform: scaleX(1);
  // transform-origin: left;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    height: 3.5rem;
  }
}
