main {
  position: relative;
}

header,
section,
footer {
  margin-inline: auto;
  width: min(100% - 40px, 140rem);
  // min-height: max(100vh, 80rem);

  padding-block: max(2vh, 2rem);
}

.spacer {
  background: var(--primary-color);
  // height: 5rem;
  @media screen and (max-width: 53.375em) {
    // height: 2rem;
  }
}
