@use 'typography';
@use 'colors' as c;

html {
  font-size: 62.5%;
  @media only screen and (max-width: 62.5em) {
    // tab-land
    font-size: 56.25%;
  }

  @media only screen and (max-width: 56.25em) {
    // tab-port
    font-size: 54%;
  }

  @media only screen and (max-width: 37.5em) {
    // phone
    font-size: 51%;
  }

  // @media only screen and (min-width: 112.5em) {
  // big desktop
  // font-size: 75%; // 1rem = 12px, 12/16 = 75
  // }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  @include c.color_pallete_black_white();
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--font-color-primary);
  font-size: 3vh;

  // font-size: clamp(12px, 1vw + 1rem, 16px);
  // scroll-behavior: smooth;
}

img,
picture,
video,
svg {
  display: block;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}
