:root {
  --primary-color: #00235b;
  --secondary-color: #e21818;
  --accent-color: #ffdd83;
  --ternary-color: #98dfd6;
  --font-color-primary: hsl(0, 0%, 0%);
  --font-color-secondary: hsl(0, 0%, 100%);

  // --primary-color: rgb(57, 55, 91);
  // --secondary-color: rgb(116, 92, 151);
  // --accent-color: rgb(213, 151, 206);
  // --ternary-color: rgb(245, 176, 203);
  // --font-color-primary: hsl(0, 0%, 0%);
  // --font-color-secondary: hsl(0, 0%, 100%);

  // --primary-color: #fefbe9;
  // --secondary-color: #e1eedd;
  // --accent-color: #f0a04b;
  // --ternary-color: #183a1d;
  // --font-color-primary: hsl(0, 0%, 100%);
  // --font-color-secondary: hsl(0, 0%, 0%);
}
